body {
  background:#000 url('v4-heart-nebula.jpg') no-repeat center center;
  color:#fff;
  font-family:sans-serif;
}

div#frame {
  width:800px;
  margin:0 auto;
}

table {
  border-spacing:1px;
}

table th {
  text-align:left;
}

table th, td {
  background-color:#111;
  padding:5px;
}

h1 {
  background-color:#111;
  padding:5px;
  margin-bottom:0;
}